.song{
  border:1px solid gray;
  margin:20px;
  width: 50%;
  padding: 10px;
}
 button{
  margin:3px 5px;
  background:#fff8e1;
  border:none;
  outline:none;
  padding: 7px 10px
}
.playlist{
  background: #009688;
  width: 40%;
  padding: 10px;
  margin:20px auto;
}